body
{
	box-sizing: border-box;
}
#adminlink
{
	text-decoration: none;
}
#bannertext
{
	padding: 5% 20%;
	color: white;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#bannerbutton
{
	border: 1px solid aqua;
	background-color: #303438;
}
#bannerbutton:hover
{
	background-color: black;
}

#latestarticles
{
	padding: 2% 4%;
	display: flex;
	flex-wrap: wrap;
}
#articleitem
{
	background-color: #f8f9f4;
	flex-basis: 25%;
}
#articleitem a
{
	text-decoration: none;
}

#article
{
	text-align: center;
	padding: 2% 20%;
}

@media (max-width: 768px) {
    #latestarticles {
        flex-direction: column;    
    }
    #article
    {
    	padding: 2% 3%;
    	text-align: justify;
    }
}

#contactme, #signupform, #postarticle
{
	padding: 2% 10% 4% 10%;
	background-color: #f8f9f4;
	box-sizing: border-box;
}

